<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="searchMovies()"></ion-searchbar>
    </ion-item>
    <ion-item lines="none">
      <ion-title>Movie App</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let movie of movies" [routerLink]="['/movie-detail', movie.id]">
      <ion-thumbnail slot="start">
        <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ movie.title }}</h2>
        <p>{{ movie.release_date }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
